@import '__variable.scss';


.btn{
    padding: 1% 2%;
    font-family: 'simply rounded', sans-serif;
    font-size: 1.5em;
    color: $light;
    background-color: $light;
    // border: 1.5px solid $dark;
    border: none;
    border-radius: 10px;

    
    width: auto;
    // letter-spacing: 1px;

    // max-width: 10vw;

    box-shadow: inset 0px 2px 0px 1px $dark;
    // box-shadow: inset -0.1875rem -0.1875rem var(--color-black);

    &:hover{
        // background-color: $dark-blue;
        // color: $mid-green;
        transform: translate(0, 0.025em);
        box-shadow: inset 0px 2px 0px 1px $dark;
    }

    &--facile{
        background-color: $light-green;
        // box-shadow: 1.5px 2px 0px 0.5px $dark-green;
        
        box-shadow: inset -0.1875rem -0.1875rem $dark-green;
        // border-color: $dark-green;
    }

    &--moyen{
        background-color: $light-yellow;
        // box-shadow: 0.13em 0.15em 0em 0.01em $dark-yellow;
        box-shadow: inset -0.1875rem -0.1875rem $dark-yellow;
        // border-color: $dark-yellow;
    }

    &--difficile{
        background-color: $light-red;
        // box-shadow: 0.13em 0.15em 0em 0.01em $dark-red;
        box-shadow: inset -0.1875rem -0.1875rem $dark-red;
        // border-color: $dark-red;
    }

    &--green{
        background-color: $light-green;
        box-shadow: inset -0.1875rem -0.1875rem $dark-green;
        border: none;
        color: $light;
        transition: box-shadow 0.1s ease-out;

        &:hover,&:focus{
            
            transition: box-shadow 0.1s ease-in;
            transform: translate(0, 0.025em);
            box-shadow: inset 0.125em 0.125em $dark-green;
            background-color: darker($light-green);
            
        }

        i{
            font-size: 0.8em;
        }
    }

    &--dark-green{
        background-color: $dark-green;
        box-shadow: 0em 0.13em 0em 0em $mid-green;
        border: none;
        color: $light;

        i{
            font-size: 0.8em;
        }
    }

    &--round{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vw;
        width: 5vw;
        border-radius: 100%;

        min-height: 75px;
        min-width: 75px;

        img{
            max-width: 40px;
        }

        // margin: 2em; //pour debug

        // box-shadow: 0.1em 0.13em 0em 0.008em;
    }

    &--select{
        padding: 0.2em 2em;
    }
  }

table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    font-family: 'Simply Rounded', sans-serif;
    font-size: large;
    text-align: center;
    border: 1px solid black;
}


.title{
    height: fit-content;              
    width: max-content;
    text-align: center;
    // border: 1px solid green;

    h1{
        font-size: 3em;
        font-family: 'sobiscuit', sans-serif;
        color: $light-green;
        text-shadow: 0.05em 0.05em 0em $dark-green;

        margin: 0 20px;
    }
    


    .green-bar{
        display: flex;
        background-color: $dark-green;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;

        height: 10px;
        width: 100%;
        margin-top: 10px;
        
    }


    
}


// Formulaire //

form{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2.5em 2em;
    width: 30vw;

    background-color: $light-green;
    color: $light-green;
    border-radius: 15px;

    gap: 30px;

    .inputs{
        display: flex;
        flex-direction: column;
        gap: 20px;

        input{
            width: 100%;
            // height: 50px;
            background-color: $light;
            padding: 2% 1.5%;
            border: none;
            border-radius: 8px;
            
            font-family: 'Simply Rounded', sans-serif;
    
    
            
        }
    
        ::placeholder{
            display: flex;
            color: $light-green;
            font-size: 20px;
            align-items: center;
            
        }
    }
}


// Fin Formulaire //