@import '__variable.scss';
@import '__mixins.scss';



body{
    font-family: 'Simply Rounded', sans-serif;
    margin: 0;
    overflow: hidden;
}

// GLOBAL //

.logo{
    width: 30vw;
}


// FIN GLOBAL //



.home{
    
    height: 100vh;
    // max-height: 100vh;
    // width: 100vw;
    background-image: url('/public/images/bg.svg');
    background-size: cover;
    // background-repeat: no-repeat;
    overflow: hidden;

    .container{
        @include container-col;

        


            
        .top{
            display: flex;
            flex-direction: row;
            width: 94%;
            justify-content: space-between;
            padding: 1% 3%;

            // border: 1px solid red;
        }

        .bottom{
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 94%;
            justify-content: space-between;
            padding: 1% 3%;

            // border: 1px solid red;
        }

        .middle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // height: 100%;
            
            gap: 30px;
            // border: 1px solid green;


           
            &__buttons{
                display: flex;
                flex-direction: column;

                gap: 10px;
              
                // border: 1px solid blue;
            }


            .form-select {
                appearance: none;
                background-image: url('/arrow.png');
                background-repeat: no-repeat;
                background-size: 1em ;
                background-position: calc(100% - 10%) center;;
                // width: 15.573vw;
                // height: 5.741vh;
                color: $light;
                text-align: center;
                // font-family: 'Simply Rounded', sans-serif;
                font-size: x-large;
                background-color: $light-green;
                box-shadow: 0 4px 0 0 $dark-green;
                border-radius: 15px;
                border: none;
                &:hover {
                transform: scale(1.03);
                background-color: $light-green;
                box-shadow: 0 4px 0 0 $dark-green;
                }
            }
        }
        
    }


}


.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    // max-height: 100vh;
    // width: 100vw;
    background-image: url('/public/images/bg-login.jpg');
    background-size: cover;
    background-position: center;
    // background-repeat: no-repeat;
    overflow: hidden;

    // border: 1px solid red;
    
    .container{

        @include container-col;

        &__top{
            @include container-top;
        }
        

        &__middle{
            @include container-middle;

            .form{
                //formulaire + titre

                display: flex;
                flex-direction: column;
                align-items: center;

                gap: 30px;

                    
                // border: 1px solid blue;

               

            }
        }
        &__bottom{
            @include container-bottom;
        }
    }
}

.facile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    // max-height: 100vh;
    width: 100%;
    background-image: url('/public/images/background-niv-facile.jpg');
    background-size: cover;
    background-position: center;
    // background-repeat: no-repeat;
    overflow: hidden;

    // border: 1px solid red;

    .container{
        @include container-col;

        width: 100%;

        &__top{
            @include container-top;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .timer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                padding: 1% 3%;

                p{
                    color: $dark-green;
                    font-size: 2.5em;
                    font-family: 'Simply Rounded', sans-serif;
                    margin: 0 0;
                }
            
            }

        }

        &__middle {
            @include container-middle;
          
            .explain {
              .object-description {
                  display: inline-block;
                  white-space: nowrap; // Ensure letters don't wrap to the next line
          
                // Définir les couleurs sombres disponibles
                $couleurs: ($dark-green, $dark-red, $dark-blue, $dark-yellow);
          
                // Appliquer la couleur à chaque lettre
                @each $color in $couleurs {
                  color: $color;
                  &:not(:last-child) {
                    &:after {
                      content: '';
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
          
          
          
        
            //     .word {
            //     //     $couleurs: ($dark-green, $dark-blue, $dark-red, $dark-yellow);

            //     //     //récupérer les lettres de la variable word depuis facile.vue
            //     //     $lettres: attr(word);

            //     //     @for $j from 1 through length($couleurs){
            //     //         $color-letters: $j;
            //     //         $j: $j+1;

            //     //         // $color-letters: nth($couleurs, $j);


            //     //     }
                    
            
            //     //     @for $i from 1 through length($lettres){
                    
            //     //         &:nth-child(#{$i}){
            //     //             color: $color-letters;
            //     //         }
                        
            //     //     }
            //     // }
            // }
    
          
          
        }
        

        &__bottom{
            @include container-bottom;
        }
    
    

        // css jeu //
        
        body {
            overflow: hidden;
            /* background-image: url("/homepagebg.png"); */
            background-size: 100vw;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        #app {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .logo {
            position: absolute;
            margin: 30px 0;
            width: 250px;
            height: 80px;
            top: 10px;
            left: 10px;
        }
        
        .grid {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .row {
            display: flex;
        }
        
        .container {
            margin: 5px;
            perspective: 1000px;
        }
        
        .card {
            margin: 10px;
            width:  10.417vw;
            height:  10.417vw ;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.3s;
        }
        
        .card:hover {
            transform: scale(1.05);
        }
        
        .card.active {
            transform: rotateY(180deg);
        }
        
        .card.active:hover {
            transform: scale(1.05) rotateY(180deg);
        }
        
        .front,
        .back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }
        
        .front {
            transform: rotateY(0deg);
        }
        
        .back {
            transform: rotateY(180deg);
        }
        
        img {
            width: 100%;
            height: 100%;
        }
        
        .btn-menu {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

    // fin css jeu //

}

#victory{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 0 $dark-green);
    height: 0;
    width: 0;
    background-color: $light-green;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    #vic-text{
        font-family: 'Simply Rounded', sans-serif;
        font-size: 0;
        text-align: center;

    }
}   