@mixin container-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
@mixin container-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
}
@mixin container-top{
        height: 100px;
        width: 94%;
}
@mixin container-middle{
        @include container-row;
        justify-content: center;
        align-items: center;
        gap: 100px;
}
@mixin container-bottom{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        justify-content: space-between;
}

@mixin container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@mixin ensemble-logo{
    .ensemble-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-frog{
            width: 200px;
        }
        .logo-froggy{
            width: 500px;
        }
    }
}
