@mixin container-col{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    // border: 1px solid green;

    height: 100%;

    
}


@mixin container-row{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        // border: 1px solid red;
        width: 90%;
}

@mixin container-top{
    // &__top{
        height: 100px;
        width: 94%;
        // width: 100%;
}
    
@mixin container-middle{

    // &__middle{
        @include container-row;
        justify-content: center;
        align-items: center;
        gap: 100px;
}

@mixin container-bottom{
    // &__bottom{
            
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 94%;
        justify-content: space-between;
        padding: 1% 3%;

        // border: 1px solid red;

}

@mixin ensemble-logo{
    .ensemble-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-frog{
            width: 200px;

            // border: 1px solid red;
        }

        .logo-froggy{
            width: 500px;
        }
    }
}
