@font-face {
    font-family: 'Sobiscuit';
    src: url('/public/fonts/Sobiscuit.otf') format('opentype');
  }
  
@font-face {
  font-family: 'Simply Rounded';
  src: url('/public/fonts/Simply Rounded.ttf') format('truetype');
}
  


$dark-green: #4c8b25;
$mid-green: #5FAE30;
$light-green: #8CCF57;
$light-light-green: #DBFFD5;

$dark: #313131;
$light: #F7FAF7;

$dark-red: #c3553c;
$light-red: #ec866f;
$light-light-red: #ffe8e3;

$dark-blue: #228AB9;
$light-blue: #2BA9E1;

$dark-yellow: #c99136;
$light-yellow: #fbb03a;
$light-light-yellow: #fff0d2;

$shadow: hsla(0, 0%, 0%, 0.256);
$shadow-light: hsla(0, 0%, 0%, 0.053);
$shadow-dark : hsla(0, 0%, 0%, 0.411);




