@font-face {
    font-family: 'Sobiscuit';
    src: url('/public/fonts/Sobiscuit.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Simply Rounded';
    src: url('/public/fonts/Simply Rounded.ttf') format('truetype');
  }
  


$dark-green: #4C8B25;
$mid-green: #5FAE30;
$light-green: #8CCF57;
$light-light-green: #DBFFD5;

$dark: #313131;
$light: #F7FAF7;

$dark-red: #D3715B;
$light-red: #EC8670;

$dark-blue: #228AB9;
$light-blue: #2BA9E1;

$dark-yellow: #E2A340;
$light-yellow: #FBB03A;


