@font-face {
  font-family: "Sobiscuit";
  src: url("/public/fonts/Sobiscuit.otf") format("opentype");
}
@font-face {
  font-family: "Simply Rounded";
  src: url("/public/fonts/Simply Rounded.ttf") format("truetype");
}
body {
  font-family: "Simply Rounded", sans-serif;
  margin: 0;
  overflow: hidden;
}

.logo {
  width: 30vw;
}

.home {
  height: 100vh;
  background-image: url("/public/images/bg.svg");
  background-size: cover;
  overflow: hidden;
}
.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.home .container .top {
  display: flex;
  flex-direction: row;
  width: 94%;
  justify-content: space-between;
  padding: 1% 3%;
}
.home .container .bottom {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 94%;
  justify-content: space-between;
  padding: 1% 3%;
}
.home .container .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home .container .middle .ensemble-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .container .middle .ensemble-logo .logo-frog {
  width: 200px;
}
.home .container .middle .ensemble-logo .logo-froggy {
  width: 500px;
}
.home .container .middle__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .container .middle .form-select {
  appearance: none;
  background-image: url("/arrow.png");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 90% center;
  color: #F7FAF7;
  text-align: center;
  font-size: x-large;
  background-color: #8CCF57;
  box-shadow: 0 4px 0 0 #4C8B25;
  border-radius: 15px;
  border: none;
}
.home .container .middle .form-select:hover {
  transform: scale(1.03);
  background-color: #8CCF57;
  box-shadow: 0 4px 0 0 #4C8B25;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("/public/images/bg-login.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.login .container__top {
  height: 100px;
  width: 94%;
}
.login .container__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.login .container__middle .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.login .container__bottom {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 94%;
  justify-content: space-between;
  padding: 1% 3%;
}

.facile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/background-niv-facile.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.facile .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.facile .container__top {
  height: 100px;
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.facile .container__top .timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 3%;
}
.facile .container__top .timer p {
  color: #4C8B25;
  font-size: 2.5em;
  font-family: "Simply Rounded", sans-serif;
  margin: 0 0;
}
.facile .container__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.facile__bottom {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 94%;
  justify-content: space-between;
  padding: 1% 3%;
}
.facile body {
  overflow: hidden;
  /* background-image: url("/homepagebg.png"); */
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}
.facile #app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.facile .logo {
  position: absolute;
  margin: 30px 0;
  width: 250px;
  height: 80px;
  top: 10px;
  left: 10px;
}
.facile .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.facile .row {
  display: flex;
}
.facile .container {
  margin: 5px;
  perspective: 1000px;
}
.facile .card {
  margin: 10px;
  width: 10.417vw;
  height: 10.417vw;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}
.facile .card:hover {
  transform: scale(1.05);
}
.facile .card.active {
  transform: rotateY(180deg);
}
.facile .card.active:hover {
  transform: scale(1.05) rotateY(180deg);
}
.facile .front,
.facile .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.facile .front {
  transform: rotateY(0deg);
}
.facile .back {
  transform: rotateY(180deg);
}
.facile img {
  width: 100%;
  height: 100%;
}
.facile .btn-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#victory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(5px 5px 0 #4C8B25);
  height: 0;
  width: 0;
  background-color: #8CCF57;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#victory #vic-text {
  font-family: "Simply Rounded", sans-serif;
  font-size: 0;
  text-align: center;
}

@font-face {
  font-family: "Sobiscuit";
  src: url("/public/fonts/Sobiscuit.otf") format("opentype");
}
@font-face {
  font-family: "Simply Rounded";
  src: url("/public/fonts/Simply Rounded.ttf") format("truetype");
}
@font-face {
  font-family: "Sobiscuit";
  src: url("/public/fonts/Sobiscuit.otf") format("opentype");
}
@font-face {
  font-family: "Simply Rounded";
  src: url("/public/fonts/Simply Rounded.ttf") format("truetype");
}
.btn {
  padding: 2.5% 2%;
  font-family: "simply rounded", sans-serif;
  font-size: 1.5em;
  color: #F7FAF7;
  background-color: #F7FAF7;
  border: none;
  border-radius: 10px;
  width: auto;
  box-shadow: inset 0px 2px 0px 1px #313131;
}
.btn:hover {
  transform: translate(0, 0.025em);
  box-shadow: inset 0px 2px 0px 1px #313131;
}
.btn--facile {
  background-color: #8CCF57;
  box-shadow: inset -0.1875rem -0.1875rem #4C8B25;
}
.btn--moyen {
  background-color: #FBB03A;
  box-shadow: inset -0.1875rem -0.1875rem #E2A340;
}
.btn--difficile {
  background-color: #EC8670;
  box-shadow: inset -0.1875rem -0.1875rem #D3715B;
}
.btn--green {
  background-color: #8CCF57;
  box-shadow: inset -0.1875rem -0.1875rem #4C8B25;
  border: none;
  color: #F7FAF7;
  transition: box-shadow 0.1s ease-out;
}
.btn--green:hover, .btn--green:focus {
  transition: box-shadow 0.1s ease-in;
  transform: translate(0, 0.025em);
  box-shadow: inset 0.125em 0.125em #4C8B25;
  background-color: darker(#8CCF57);
}
.btn--green i {
  font-size: 0.8em;
}
.btn--dark-green {
  background-color: #4C8B25;
  box-shadow: 0em 0.13em 0em 0em #5FAE30;
  border: none;
  color: #F7FAF7;
}
.btn--dark-green i {
  font-size: 0.8em;
}
.btn--round {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  min-height: 75px;
  min-width: 75px;
}
.btn--round img {
  max-width: 40px;
}
.btn--select {
  padding: 0.2em 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
  font-family: "Simply Rounded", sans-serif;
  font-size: large;
  text-align: center;
  border: 1px solid black;
}

.title {
  height: fit-content;
  width: max-content;
  text-align: center;
}
.title h1 {
  font-size: 3em;
  font-family: "sobiscuit", sans-serif;
  color: #8CCF57;
  text-shadow: 0.05em 0.05em 0em #4C8B25;
  margin: 0 20px;
}
.title .green-bar {
  display: flex;
  background-color: #4C8B25;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 10px;
  width: 100%;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2.5em 2em;
  width: 30vw;
  background-color: #8CCF57;
  color: #8CCF57;
  border-radius: 15px;
  gap: 30px;
}
form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form .inputs input {
  width: 100%;
  background-color: #F7FAF7;
  padding: 2% 1.5%;
  border: none;
  border-radius: 8px;
  font-family: "Simply Rounded", sans-serif;
}
form .inputs ::placeholder {
  display: flex;
  color: #8CCF57;
  font-size: 20px;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
